@font-face {
    font-family: "Lucida";
    src: url(../Fonts/LCALLIG\(head\).TTF) format('truetype');
}
@font-face {
    font-family: "Comic";
    src: url(../Fonts/comic\(body\).ttf) format('truetype');
}
@font-face {
    font-family: "Bahnschrift";
    src: url(../Fonts/bahnschrift\(num\).ttf) format('truetype');
}
@font-face {
    font-family: "Segoe";
    src: url(../Fonts/seguiemj\(name\).ttf) format('truetype');
}
@font-face {
    font-family: "Gabriola";
    src: url(../Fonts/Gabriola\(btn\).ttf) format('truetype');
}
@font-face {
    font-family: "Century";
    src: url(../Fonts/CENSCBK\(error\).TTF) format('truetype');
}


body{
    padding-top: 105px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header{
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}
.nav{
    list-style-type: none;
    margin: 0px;
    display: flex;
    flex-flow: row;
    align-items: center;
}
.nav li{
    display: inline-block;
}
.nav li a{
    text-decoration: none;
    color: white;
    font-family: "Lucida";
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s;
}
#first{
    background-color: #1761CD;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 35px;
}
#first li{
    margin-right: 50px;
}
#first li a i{
    transition: color 0.3s;
}
#first li a i:hover{
    color: black;
}
#phone{
    list-style-type: none;
    margin: 0px;
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35px;
}
#phone li{
    margin-right: 15px;
}
#phone li i{
    color: white;
    transition: color 0.3s;
    font-size: 28px;
}
#phone1{
    display: inline-block;
}
#phone2{
    display: none;
}
#num{
    color: white;
    font-family: "Bahnschrift";
    display: none;
    opacity: 0;
}
#phone li i:hover{
    color: black;
}
#sec{
    background-color: black;
}
#sec li a{
    display: block;
    text-align: center;
    padding: 20px;
}
#sec li a:hover{
    background-color: #18428C;
}
.active{
    color: white;
    background-color: #18428C;
    padding: 20px;
    font-family: "Lucida";
    font-weight: bold;
    font-size: 18px;
}


#intro{
    font-family: "Comic";
    font-weight: bold;
    font-size: 18px;
}
#brands{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 270px;
    box-sizing: border-box;
    margin-bottom: 100px;
    margin-top: 20px;
}
.logo{
    width: 250px;
    height: auto;
    transition: all 0.5s;
}
#toyota:hover{
    width: 270px;
    height: auto;
}

#nissan:hover{
    width: 270px;
    height: auto;
}
#ford:hover{
    width: 270px;
    height: auto;
}


#footer{
    margin-top: auto;
    background-color: #000;
}
#footer_img{
    width: 100%;
    height: 400px;
    margin-top: auto;
    left: 0px;
    right: 0px;
    position: absolute;
}
#parent{
    position: relative;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}
#logo{
    height: 175px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#car4u{
    width: 200px;
    margin: auto;
}
#footer_content{
    border-top: 1.5px solid #333333;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#follow{
    color: white;
    font-family: "Lucida";
    text-align: center;
}
#line{
    background-color: #1761CD;
    width: 130px;
    border: 1.5px solid #1761CD;
    border-radius: 5px;
}
#ul_social{
    width: 200px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 40px;
}
#ul_social i{
    color: white;
    transition: color 0.3s;
}
#ul_social i:hover{
    color: #1761CD;
}
#num2{
    color: white;
    font-family: "Bahnschrift";
    display: none;
    opacity: 0;
    margin-top: 0px;
}
#my_name_div{
    position: relative;
    margin-left: 200px;
    margin-right: 200px;
    border-top: 1.5px solid #333333;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 48.5%;
}
#my_name{
    font-family: "Segoe";
    font-size: 14px;
    text-align: center;
    color: white;
    bottom: 0px;
}
#inner_footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



@media screen and (max-width: 980px){
    body{
        padding-top: 175px;
        padding-left: 100px;
        padding-right: 100px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        height: 85.5vh;
    }
    .nav li a{
        font-size: 30px;
    }
    #first{
        background-color: #1761CD;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 55px;
    }
    #phone{
        list-style-type: none;
        margin: 0px;
        position: fixed;
        top: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 55px;
    }
    #phone li i{
        color: white;
        transition: color 0.3s;
        font-size: 46px;
    }
    #num{
        font-size: 23px;
    }    
    #sec li a{
        display: block;
        text-align: center;
        padding: 36px;
    }
    .active{
        color: white;
        background-color: #18428C;
        padding: 36px;
        font-family: "Lucida";
        font-weight: bold;
        font-size: 30px;
    }
    #intro{
        font-family: "Comic";
        font-weight: bold;
        font-size: 24px;
    }
    #brands{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        margin-bottom: 0px;
        margin-top: 20px;
    }
    .logo{
        width: 400px;
        height: auto;
        transition: all 0.5s;
        margin-top: 30px;
        margin-bottom: 100px;
    }
    #toyota:hover{
        width: 432px;
        height: auto;
    }
    #nissan:hover{
        width: 432px;
        height: auto;
    }
    #ford:hover{
        width: 432px;
        height: auto;
    }
}