body{
    padding-top: 125px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header{
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
}
.nav{
    list-style-type: none;
    margin: 0px;
    display: flex;
    flex-flow: row;
    align-items: center
}
.nav li{
    display: inline-block;
}
.nav li a{
    text-decoration: none;
    color: white;
    font-family: Lucida Calligraphy;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s;
}
#first{
    background-color: #1761CD;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 35px;
}
#first li{
    margin-right: 50px;
}
#first li a i{
    transition: color 0.3s;
}
#first li a i:hover{
    color: black;
}
#phone{
    list-style-type: none;
    margin: 0px;
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35px;
}
#phone li{
    margin-right: 15px;
}
#phone li i{
    color: white;
    transition: color 0.3s;
    font-size: 28px;
}
#phone1{
    display: inline-block;
}
#phone2{
    display: none;
}
#num{
    color: white;
    font-family: Bahnschrift Light;
    display: none;
    opacity: 0;
}
#phone li i:hover{
    color: black;
}
#sec{
    background-color: black;
}
#sec li a{
    display: block;
    text-align: center;
    padding: 20px;
}
#sec li a:hover{
    background-color: #18428C;
}
.active{
    color: white;
    background-color: #18428C;
    padding: 20px;
    font-family: Lucida Calligraphy;
    font-weight: bold;
    font-size: 18px;
}

#parent{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
    margin-top: 15px;
}
#header{
    background-color: #1761CD;
    font-family: Lucida Calligraphy;
    font-weight: bold;
    font-size: 24px;
    color: white;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#form{
    background-color: #303030;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
}
#name{
    display: flex;
    flex-direction: row;
}
.names{
    display: flex;
    flex-direction: column;
}
#outerGender{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Comic Sans MS;
}
#button{
    background-color: #1761CD;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#submit, #reset{
    font-family: Gabriola;
    font-weight: bold;
    padding: 7px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 2px solid #303030;
    font-size: 22px;
}
#reset:hover{
    background-color: #c1c1c1;
}
#email, #mobile, #password, #confirm, #address{
    display: block;
}
#rest{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input{
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #1761CD;
}
.error{
    color: red;
    display: none;
    margin: 0px;
    padding-left: 5px;
    font-family: Century Schoolbook;
    font-size: 14px;
}
#gender{
    border: 2px solid #1761CD;
    border-radius: 5px;
}


#footer{
    margin-top: auto;
    background-color: #000;
}
#footer_img{
    width: 100%;
    height: 400px;
    margin-top: auto;
    left: 0px;
    right: 0px;
    position: absolute;
}
#parent2{
    position: relative;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}
#logo{
    height: 175px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#car4u{
    width: 200px;
    margin: auto;
}
#footer_content{
    border-top: 1.5px solid #333333;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#follow{
    color: white;
    font-family: Lucida Calligraphy;
    text-align: center;
}
#line{
    background-color: #1761CD;
    width: 130px;
    border: 1.5px solid #1761CD;
    border-radius: 5px;
}
#ul_social{
    width: 200px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 40px;
}
#ul_social i{
    color: white;
    transition: color 0.3s;
}
#ul_social i:hover{
    color: #1761CD;
}
#num2{
    color: white;
    font-family: Bahnschrift Light;
    display: none;
    opacity: 0;
    margin-top: 0px;
}
#my_name_div{
    position: relative;
    margin-left: 200px;
    margin-right: 200px;
    border-top: 1.5px solid #333333;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 48.5%;
}
#my_name{
    font-family: Segoe UI Emoji;
    font-size: 14px;
    text-align: center;
    color: white;
    bottom: 0px;
}
#inner_footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



@media screen and (max-width: 980px){
    body{
        padding-top: 175px;
        padding-left: 100px;
        padding-right: 100px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        height: 84vh;
    }
    .nav li a{
        font-size: 30px;
    }
    #first{
        background-color: #1761CD;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 55px;
    }
    #phone{
        list-style-type: none;
        margin: 0px;
        position: fixed;
        top: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 55px;
    }
    #phone li i{
        color: white;
        transition: color 0.3s;
        font-size: 46px;
    }
    #num{
        font-size: 23px;
    }    
    #sec li a{
        display: block;
        text-align: center;
        padding: 36px;
    }
    .active{
        color: white;
        background-color: #18428C;
        padding: 36px;
        font-family: Lucida Calligraphy;
        font-weight: bold;
        font-size: 30px;
    }
    #parent{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 0px;
        margin-top: 15px;
    }
    input{
        padding: 15px;
        margin: 15px;
        border-radius: 5px;
        border: 2px solid #1761CD;
    }
    #outerGender{
        width: 45%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left: 17px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-family: Comic Sans MS;
    }
    #gender{
        border: 2px solid #1761CD;
        border-radius: 5px;
        height: 40px;
    }
    #header{
        background-color: #1761CD;
        font-family: Lucida Calligraphy;
        font-weight: bold;
        font-size: 30px;
        color: white;
        text-align: center;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    #submit, #reset{
        font-family: Gabriola;
        font-weight: bold;
        padding: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
        border: 2px solid #303030;
        font-size: 24px;
    }
}